<div class="well">
	<h3><strong>The universe is the totalty of everything that exists, has existed or ever will exist.</strong></h3>
	<footer>This Q&amp;A is dedicated to questions about the history of the universe</footer>
</div>

<div class="container">

	<div class="media">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="http://www.gravatar.com/avatar/" alt="user avatar">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">user@email.com asked:</h4>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		<div>
			<a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
		</div>
		</div>

		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="http://www.gravatar.com/avatar/" alt="user avatar">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">user@email.com asked:</h4>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					<div>
			<a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
		</div>
			</div>

			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="http://www.gravatar.com/avatar/" alt="user avatar">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">user@email.com asked:</h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						<div>
			<a href="/questions/12" class="btn btn-success btn-xs">View Answers</a>
		</div>
				</div>

			</div>